@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Open Sans", "sans-serif ";
}



li, a {
    font-family: "Open Sans", "sans-serif"; 
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0%;
    font-family: "Open Sans", "sans-serif ";

}

h3{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Open Sans", "sans-serif ";
}



.logo {
    cursor: pointer;
    padding-right: 10%;
    padding-top: 1px;

    

}

.nav__links__left {
    list-style: none;
}

.nav__links__left li {
    display: inline-block;
    padding: 5px 15px;
}

.nav__links__left li a {
    transition: all 0.3s ease 0s;
    /* background-color: beige; */
}

.nav__links__left li a:hover {
    color: #14245c;
    background-color: #E6E6FA;

}

 .selected {
    border-bottom: 2px solid #14245c;
 }

 .social-media {
    display: inline-block;
    padding: 2px 3px;
 }

 .follow-us {
    font-family: "Open Sans", "sans-serif"; 
    font-weight: 400;
    font-size: 14px;
    color: #14245c;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5px;
 }

.banner {
    width: 100%;
}


.middle {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:none !important;
}


.container {
    position: relative;
    text-align: center;
    /* background:none !important; */


}

.home-txt {
    font-family: "Open Sans", "sans-serif"; 
    background:none !important;
    color: white;
    font-size: 40px;

    position: relative;
    top: -50px;
}

.about-us {
    font-family: "Open Sans", "sans-serif ";
    padding-top: 20px;
    /* font-size: 16px; */
}

.about-us-paragraph {
    font-family: "Open Sans", "sans-serif ";
    /* font-size: 14px; */
    padding-top: 15px;
    width: 33.33%;
    position: relative;
    left: 32.5%;
    padding-bottom: 50px;
}

.subtitle{
    font-size: 32px;
    color: gray;
}

.grid_board{
    content: "";
    display: table;
    clear: both;
    
}

.grid-sq{
    float: left;
    width: 25%;

    text-align: center;
    justify-items: center;
    padding: 20px;
    row-gap: 40px;
    margin-top: 10px;
    border-bottom: 50px;
}


.bott-art {
    position: relative;
    max-width: 100%;
    bottom: 0;
    display: block;
}







