@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Open Sans", "sans-serif ";
}



li, a {
    font-family: "Open Sans", "sans-serif"; 
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
}


.navbar {
    background-color: white; /* Changed to white */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #54078A; /* Added purple border at the bottom */
    padding: 1px 0; /* Reduced padding to make navbar thinner */
}

.logo {
    cursor: pointer;
    padding-right: 10%;
    padding-top: 1px;
}

.nav__links__left {
    list-style: none;
    display: flex;
    left: 0;
    bottom: -2px; /* Align with bottom of the nav bar */
}

.nav__links__left li {
    margin: 0 15px;
    position: relative; /* Needed for underline effect */
    display: inline-block;
    padding: 5px 15px;
}

.nav__links__left li a {
    transition: all 0.3s ease 0s;
    /* background-color: beige; */
}

/* Underline effect for the active page */
.nav-links .active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #54078A;
    left: 0;
    bottom: -2px; /* Align with bottom of the nav bar */
}

.nav__links__left li a:hover {
    color: #14245c;
    background-color: #E6E6FA;

}

/* Burger menu styling */
.burger {
    display: none;
    border: none;
    margin-right: 10px;
    flex-direction: column;
    gap: 5px;
    cursor: pointer; /* Change cursor to pointer */
}

/* Burger line styling */
.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #54078A; /* Changed to purple */
    transition: box-shadow 0.3s; /* Smooth transition for shadow effect */
}

/* Hover effect for burger menu */
.burger:hover span, .burger-active span {
    box-shadow: 0 0 3px #54078A; /* Shadow effect on hover and when active */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav__links__left {
        all: unset; /* Remove all styling */
    }

    .nav__links__left {
        display: none; /* Initially hidden */
        z-index: 10;
        position: absolute;
        right: 0;
        top: 54px; /* Position below the navbar */
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px; /* Padding around links */
        width: auto; /* Adjust width to content */
        transition: all 0.3s ease;
        box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.2); /* Shadow on bottom and left */
        border-left: 1px solid purple; /* Thin purple border on the left */
        border-bottom: 1px solid purple; /* Thin purple border on the bottom */
        /* Rest of your styles */
    }

    .nav__links__left li {
        margin: 15px;
    }

    .nav-active {
        display: flex;
    }
}

h3{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Open Sans", "sans-serif ";
}

 .selected {
    border-bottom: 2px solid #14245c;
 }

.banner {
    width: 100%;
    opacity: 0.70;
    background-color: black;
}


.middle {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:none !important;
}

.container {
    position: relative;
    display: flex;
    text-align: center;
    background-color: black;
    /* background:none !important; */
}

.container-two {
    position: relative;
    text-align: center;
    /* background:none !important; */
}

.home-txt {
    font-family: "Open Sans", "sans-serif"; 
    background:none !important;
    color: white;
    font-size: 40px;

    position: relative;
    top: -50px;
}

@media screen and (max-width: 768px) {
    .home-txt {
       font-size: 20px;
    }
}


.about-us {
    font-family: "Open Sans", "sans-serif ";
    padding-top: 20px;
    /* font-size: 16px; */
}

.about-us-paragraph {
    font-family: "Open Sans", "sans-serif ";
    /* font-size: 14px; */
    padding-top: 15px;
    width: 66.66%;
    position: relative;
    left: 16.6%;
    padding-bottom: 50px;
}

.subtitle{
    font-size: 32px;
    color: gray;
}

.grid_board{
    content: "";
    display: table;
    clear: both;
    
}

.grid-sq{
    float: left;
    width: 25%;

    text-align: center;
    justify-items: center;
    padding: 50px;
    row-gap: 40px;
    margin-top: 10px;
}


.bott-art {
    position: relative;
    width: 100%;
    bottom: 0;
    display: block;
}

.home-button {
    position: relative;
    text-align: center;
    padding-bottom: 5%;
}

.bylaws-button {

    border: none;
    border-radius: 17px;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: rgb(84, 7, 138, 0.5);
}

.bylaws-button:hover {
    border-color: #14245c;
    border-style: solid;
    background-color: rgb(84, 7, 138);
}
@media screen and (max-width: 768px) {
    .grid-board {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .grid-board .grid-sq {
        width: 100%; /* Set width to full */
        padding: 0 10px; /* Add some space on the left and right */
        box-sizing: border-box; /* Ensure padding is included in width */
      }
     
      .grid-board .Text {
        display: block; /* Stack images and text vertically */
        margin: 0 auto; /* Center images and text horizontally */
        width: 90%; /* Adjust width as needed */
      }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}